/* COLOR SYNTAX */
mark{
    background-color: transparent;
}
.syntax_blue{
    color: #6699cc;
    font-weight: bold;
}

.syntax_green{
    color: #99c794;
    font-weight: bold;
}

.syntax_red{
    color: #ec5f66;
    font-weight: bold;
}

.syntax_purple{
    color: #cb95c6;
    font-weight: bold;
}

.syntax_yellow{
    color: #f9b088;
    font-weight: bold;
}

.syntax_orange{
    color: #f9ae65;
    font-weight: bold;
}

.syntax_dark_orange{
    color: #f97b60;
    font-weight: bold;
}

.syntax_light_orange{
    color: #f9b088;
    font-weight: bold;
}

.dark_syntax{
    background-color: #34343e;
    font-weight: bold;
}

.light_syntax{
    background-color: #f9fafa;
    font-weight: bold;
}

html, body, main{
  height: 100%;
  background-color: #f9fafa;
}

.action{
    border: solid 2px black;
    width: 80%;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

.action_red{
    border-color: #ec5f66;
    color: #ec5f66;
    display: block;
}
.action_blue{
    border-color: #6699cc;
    color: #6699cc;
    display: block;

}
.action_green{
    border-color: #99c794;
    color: #99c794;
    display: block;
}
.action_purple{
    border-color: #cb95c6;
    color: #cb95c6;
    display: block;
}

.action_red:hover{
    border-color: #f9fafa;
    color: #f9fafa;
    background-color: #ec5f66;
}
.action_blue:hover{
    border-color: #f9fafa;
    color: #f9fafa;
    background-color: #6699cc;
}
.action_green:hover{
    border-color: #f9fafa;
    color: #f9fafa;
    background-color: #99c794;
}
.action_purple:hover{
    border-color: #f9fafa;
    color: #f9fafa;
    background-color: #cb95c6;
}

/* HEADER */

#header{
    min-height: 100%;
    background-image: url("../img/editor_f.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex; 
    background-attachment: fixed;

}

#title{
    background-color: #f9fafa;
    margin: auto;
    padding: 50px;
}

#com-begin, #com-end{
    text-align: left;
}
#com-begin:before {
  content: " /**";
  font-size : 5em;
}

#com-end:before {
  content: "\00a0*/";
  font-size : 5em;
}

#title h1:before {
  content: " \00a0* ";
}

#title h2:before {
    content: " \00a0* ";
    font-size : 1.5em;
}

#title h1{
    font-size : 5em;
}

#title h2{
    font-size : 3em;
    text-align: left;
}

/* ABOUT SECTION */
#photo_id{
    width: 75%;
    height: 75%;
    margin: 5%;
    padding-left: 20px; 
}

.about_text{
    padding: 20px;
    font-size: 1.2em;
}

/* SKILLS SECTION */

#skills {
    margin-top: 30px;
    background-color: #34343e;
}
#skills h5{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}


.skill_row{
    background-color:#f9fafa;
}

.circles-wrp{
    margin-left: 40%;
}

#skills .skill{
    margin-left: 40%;
    font-size : 20px;
    margin-top: 5px;
    font-weight: 200;
}

.skill{
    padding-bottom: 10px;
}

.other_skills p{
    color: #f9fafa;
    padding-bottom: 15px;
}

/* HACK COULEUR CIRCLE */

.dark_syntax .circles-text{
    color: #f9fafa;
}


/* MY WORKS SECTION */
#works{
    min-height: 90vh;
}
#works h3 {
    padding-top: 10px; 
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    color: #f9fafa
}

.btn-works{
    font-size: 2em;
    background-color: #34343e;
    color: #f97b60;
    border: 1px solid #f97b60;
    margin: 2px;
}

.project_contain{
    margin-left: 15%;
    margin-right: 10%;
}

.img_project{
    margin-bottom: 15px;
    width:90%;
    height: 30%!important;
}

.project{
    padding: 20px;
    margin-left: 15px;
    margin-right: 15px;
    min-height: 60vh!important;
}

.project p{
    font-size: 1.2em;
    font-weight: 100;
}

.project_dark{
    background-color: black;
}
.project_dark h4{
    color: #f97b60;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.project_dark p{
    color: #f9fafa;
}

.link_dark a{
    text-align: left;
    color: #f97b60;
    border:solid 2px #f97b60;
    padding: 5px;
    font-weight: bold;
}

.link_dark a:hover{
    text-align: left;
    color: #f9fafa;
    border:solid 2px #f97b60;
    background-color: #f97b60;
    padding: 5px;
    font-weight: bold;
}
.link_light a{
    text-align: left;
    color: #6699cc;
    border:solid 2px #6699cc;
    padding: 5px;
    font-weight: bold;
}

.link_light a:hover{
    text-align: left;
    color: #f9fafa;
    border:solid 2px #6699cc;
    background-color: #6699cc;
    padding: 5px;
    font-weight: bold;
}

.project_light{
    background-color: #f9fafa;
}

.project_light h4{
    color: #6699cc;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

#btn_div{
    margin-left: 10%!important;
    margin-bottom: 20px;
}

/* FOOTER */

footer {
    margin: 20px;
    padding-bottom: 20px;
}
footer h4::before{
    content: '/* '
}

footer h4::after{
    content: ' */ '
}
footer h4{
    font-size: 20px;
    color: #696969;
}

footer p{
    font-size: 1.2em;
}

.light_editor{
    background-image: url('../img/editor.png');
    background-position: 12% 50%;
}

.dark_editor{
    background-image: url('../img/editor_dark.png');
}


.row_custom{
 overflow: hidden; 
}

.col_custom{
 margin-bottom: -99999px;
 padding-bottom: 99999px;
}

.hidden{
    visibility: hidden;
}

footer .col-md-4{
    padding-left: 5%;
}