@media screen and (max-width: 768px) {
    .action{
        margin-bottom: 10px;
    }

    .switch_white{
        background-color: #f9fafa;
    }

    .switch_white .circles-text{
        color: #34343e;
    }

    .switch_black{
        background-color: #34343e;
    }

    .switch_black .circles-text{
        color: #f9fafa;
    }
}
